@model AMW.Model.Entity.MldNews
@{
    Layout = "~/Areas/WebAdmin/Views/Shared/_LayoutMetronic.cshtml";
}
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title">
    修改
    <small></small>
</h3>

<div class="row" id="list-content">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-body">
                <form enctype="multipart/form-data" action="/WebAdmin/News/Edit" method="post" class="form-horizontal">
                    <div class="form-body">

                        @if (ViewBag.Error != "none")
                        {
                            <div class="alert alert-block alert-danger fade in">
                                <button type="button" class="close" data-dismiss="alert"></button>
                                <p>@ViewBag.Error</p>
                            </div>
                        }
                        @if (ViewBag.Success == "ok")
                        {
                            <div class="alert alert-block alert-success fade in">
                                <button type="button" class="close" data-dismiss="alert"></button>
                                <p>修改成功</p>
                            </div>
                        }
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                标题
                            </label>
                            <div class="col-md-6">
                                <input type="text" name="title" required class="form-control" value="@Model.Title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                副标题
                            </label>
                            <div class="col-md-6">
                                <input type="text" name="subHead" required class="form-control" value="@Model.SubHead">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                图片<span class="required" aria-required="true"> * </span>
                            </label>
                            <div class="col-md-6">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                        <img src="@Model.Img" />
                                    </div>
                                    <div>
                                        <span class="btn red btn-outline btn-file">
                                            <span class="fileinput-new"> Select image </span>
                                            <span class="fileinput-exists"> Change </span>
                                            <input type="file" id="ipt_file" name="img" accept="image/gif,image/jpeg,image/png">
                                        </span>
                                        <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                内容<span class="required" aria-required="true"> * </span>
                            </label>
                            <div class="col-md-6">
                                <div id="summernote_1">@Html.Raw(Model.Content)</div>
                                <textarea name="content" style="display:none;" required id="content"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">是否显示</label>
                            <div class="col-md-6">
                                <select name="isshow" class="bs-select form-control">
                                    <option value="1" @(Model.IsShow.Equals(1) ? "selected" : "")>显示</option>
                                    <option value="0" @(Model.IsShow.Equals(0) ? "selected" : "")>不显示</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">优先级</label>
                            <div class="col-md-6">
                                <input type="number" name="priority" placeholder="" class="form-control" value="@Model.Priority">
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <input type="hidden" name="id" value="@Model.ID" />
                                <input type="hidden" name="newsType" value="@Model.NewsType" />
                                <button type="submit" class="btn green" onclick="$('#content').val($('#summernote_1').code()); return true;">提交</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- End: life time stats -->
    </div>
</div>
<script type="text/javascript">
    $('#summernote_1').summernote({
        height: 300,
        width: 640,
        onImageUpload: function (files) {
            var formData = new FormData();
            formData.append("file", files[0]);
            $.ajax({
                data: formData,
                type: "POST",
                url: "/Image/Upload",
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.ok) {
                        $('#summernote_1').summernote('insertImage', data.url, 'img')
                    } else {
                        alert(data.error);
                    }
                },
                error: function () {
                    alert("发生错误了！");
                }
            })
        }
    });
</script>