@model AMW.Model.Entity.MldApplicationArea
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@Html.Partial("_PartialBanner")

@Html.Partial("_PartialBreadcurmb", Model.ID)

<link href="~/website/css/proinfo.css" rel="stylesheet" type="text/css" media="all" />
<div class="pro_info">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                @Html.Partial("_PartialProLeft")
            </div>
            <div class="col-md-7">
                <div class="star_product">
                    <div class="star_product_title" style="margin-bottom:10px;"><b>应用领域</b> / APPLICATION AREA</div>
                    
                    <div style="padding:30px 0;">
                        <div style="color:#333;font-size:22px;font-weight:bold; text-align:center;">@Model.Name</div>
                        <p style="color:#999999; font-size:12px; border-bottom:1px solid #d7d7d7;text-align:center;padding-bottom:10px;padding-top:10px;">@Model.SubHead</p>
                        <div style="padding:20px;border-bottom:1px solid #d7d7d7;">
                            @Html.Raw(Model.Content)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>