@model List<AMW.Model.Entity.MldProduct>
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@Html.Partial("_PartialBanner")

@Html.Partial("_PartialBreadcurmb",0)

<script type="text/javascript">
    $(function () {
        $(".nav_div a").eq(@ViewBag.ID).addClass("cur");
    });
</script>
<link href="~/website/css/proinfo.css" rel="stylesheet" type="text/css" media="all" />
<div class="pro_info">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
               @Html.Partial("_PartialProLeft")
            </div>
            <div class="col-md-7">
                <div class="title_right">
                    <ul style="width:100%;">
                        <li style="text-align:left; padding-left:30px;"><a href="javascript:void(0)" class="cur">产品列表</a></li>
                    </ul>
                </div>
                <div class="pro_list" id="proHtml">
                    <div class="row">
                        @{
                            int i1 = 0;
                            foreach (var item in Model)
                            {
                                i1++;
                                <div class="col-md-4">
                                    <div class="diva">
                                        <div class="imgbg">
                                            <img src="@item.Img?r=2211" />
                                            <a href="javascript:void(0)" onclick="window.open('http://wpa.qq.com/msgrd?V=1&uin=2880260703'); return false;" class="zx">立即咨询</a>
                                            <a href="@("/Product/Index/" + item.ID)" class="lj">了解详情</a>
                                        </div>
                                        <p>@item.Name</p>
                                    </div>
                                </div>
                                if (i1 % 3 == 0)
                                {
                                    @Html.Raw("</div><div class=\"row\">");

                                }
                            }
                        }
                    </div>
                </div>
                <div class="pro_pager">
                    @{
                        int pageCount = (int)ViewBag.PageCount;
                        int curPage = (int)ViewBag.CurPage;
                    }
                    <a href="javascript:void(0)" data-page="1" onclick="opt.setCurPage(1)" class="btna @(curPage == 1 ? "disabled" : "")">首页</a>
                    <a href="javascript:void(0)" id="btnPrev" data-page="@(curPage==1?1:curPage-1)" class="btna @(curPage == 1 ? "disabled" : "")">上一页</a>
                    <span>
                        @{
                            for (int i = 1; i <= pageCount; i++)
                            {
                                <a href="javascript:void(0)" data-page="@i" class="@(i==curPage?"cur":"")">@i</a>
                            }
                        }
                    </span>
                    
                    <a href="javascript:void(0)" id="btnNext" data-page="@(curPage==pageCount?pageCount:curPage+1)" class="btna @(curPage == pageCount ? "disabled" : "")">下一页</a>
                    <a href="javascript:void(0)" data-page="@pageCount" class="btna @(curPage == pageCount ? "disabled" : "")">末页</a>
                </div>
                <div class="star_product">
                    <div class="star_product_title" style="margin-bottom:10px;"><b>明星产品</b> / STAR PRODUCT</div>
                    <div style="width:99.9%;">
                        <link rel="stylesheet" href="/website/js/AmazeUI/assets/css/amazeui.min.css">
                        <link rel="stylesheet" href="/website/js/AmazeUI/assets/css/app.css">
                        <style type="text/css">
                            .am-slider-default .am-control-nav li a{
                                width:36px !important;
                                border-radius:0 !important;
                                background-color:#d9d9d9;
                            }
                        </style>
                        <div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0">
                            <ul class="am-slides">
                                <li><a href="#"><img src="~/website/img/star_product_img.jpg" /></a></li>
                                <li><a href="#"><img src="~/website/img/star_product_img.jpg" /></a></li>
                            </ul>
                        </div>
                        <script src="/website/js/AmazeUI/assets/js/amazeui.min.js"></script>
                        <script type="text/javascript">
                            $(function () {
                                $('.am-slider').each(function () {
                                    $(this).flexslider();
                                });
                            })
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var opt = (function () {
        var curPage = @ViewBag.CurPage, pageCount = @ViewBag.PageCount, cid = @ViewBag.Cid, id = @ViewBag.Id;
        var keyword = "@ViewBag.Keyword";
        function setCid(curCid){
            $(".pro_info .title_list > ul a").removeClass("cur");
            $(".pro_info .title_list > ul a[data-id='"+curCid+"']").addClass("cur");
            cid = curCid;
            curPage = 1;
            getDate();
        }
        function setCurPage(cp){
            curPage = cp;
            $("#btnNext").attr("data-page",curPage==pageCount?pageCount:parseInt(curPage)+1);
            $("#btnPrev").attr("data-page",curPage==1?1:parseInt(curPage)-1);
            $(".pro_pager a").removeClass("disabled");
            $(".pro_pager a").removeClass("cur");
            $(".pro_pager a[data-page='"+cp+"']").addClass("cur");
            $(".pro_pager .btna[data-page='"+cp+"']").removeClass("cur");
            $(".pro_pager .btna[data-page='"+cp+"']").addClass("disabled");
            getDate();
        }
        function getDate() {
            $("#proHtml").html("");
            $.post("/Product/GetList",{curPage:curPage,cid:cid,id:id,keyword:keyword }).done(function(d){
                $(".pro_pager span").html("<a href=\"javascript:void(0)\" style=\"margin-right:5px;\" data-page=\""+1+"\" class=\"cur\">"+1+"</a>");
                if(!!d && !!d.ok && !!d.data.proList && d.data.proList.length>0){
                    var idx = 0;
                    var html = "<div class=\"row\">";
                    d.data.proList.forEach(function (pro) {
                        idx++;
                        html += "<div class=\"col-md-4\"><div class=\"diva\">"+
                                        "<div class=\"imgbg\">"+
                                            "<img src=\""+pro.Img+"?r=2211\">"+
                                            "<a href=\"javascript:void(0)\" onclick=\"window.open('http://wpa.qq.com/msgrd?V=1&amp;uin=2880260703'); return false;\" class=\"zx\">立即咨询</a>"+
                                            "<a href=\"/Product/Index/"+pro.ID+"\" class=\"lj\">了解详情</a>"+
                                        "</div><p>"+pro.Name+"</p></div></div>";
                        if(idx%3==0){
                            html += "</div><div class=\"row\">";
                        }
                    });
                    html += "</div>";
                    $("#proHtml").html(html);

                    var pageHtml = "";
                    for(var i = 1; i<=d.data.pageCount; i++){
                        pageHtml+="<a href=\"javascript:void(0)\" style=\"margin-right:5px;\" data-page=\""+i+"\" class=\""+(i==curPage?"cur":"")+"\">"+i+"</a>";
                    }
                    $(".pro_pager span").html(pageHtml);
                }
            });
        }
        return {
            setCid:setCid,
            setCurPage:setCurPage
        }
    })();
    $(function(){
        $(".pro_info .title_list > ul a").attr("href","javascript:void(0)");
        $(".pro_info .title_list > ul a").click(function(){
            opt.setCid($(this).attr("data-id"));
        });
        $("body").on("click",".pro_pager a",function(){
            opt.setCurPage($(this).attr("data-page"));
        });

        @{
            if (!string.IsNullOrEmpty(ViewBag.Cid+"") && (ViewBag.Cid+"" != "0"))
            {
                @Html.Raw("$(\".pro_info .title_list > ul a[data-id='"+ViewBag.Cid+"']\").parent().parent().prev().trigger(\"click\");");
                @Html.Raw("$(\".pro_info .title_list > ul a[data-id='" + ViewBag.Cid + "']\").addClass(\"cur\");");
            }
            else if (!string.IsNullOrEmpty(ViewBag.Id+"") && (ViewBag.Id+"" != "0"))
            {
                @Html.Raw("$(\".pro_info .title_list > a[data-id='" + ViewBag.Id + "']\").trigger(\"click\");");
            }
        }
        
    })
</script>