@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script type="text/javascript">
    $(function () {
        $(".nav_div a").eq(0).addClass("cur");
    });
</script>
<link href="~/website/css/index.css?r=112" rel="stylesheet" type="text/css" media="all" />
@Html.Partial("_PartialBanner")
<link href="~/website/css/proinfo.css" rel="stylesheet" type="text/css" media="all" />
<div class="pro_info">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <div class="title">
                    <img src="~/website/img/pro_info.png" />
                </div>
                <style type="text/css">
                    .pro_info .title_list > a:hover{
                        background-color:#deeae6;
                        border:1px dashed #048b95;
                        color:#018997;
                    }
                    .pro_info .title_right>ul li{
                        width:auto !important;
                        padding:0 15px;
                    }
                    .pro_info .title_list > a{
                        margin-top: 15px;
                        height: 57px;
                        line-height:57px;
                    }
                </style>
                <script type="text/javascript">
                    function clickCategory(id,cid,obj) {
                        $(".pro_info .title_right>ul li a").removeClass("cur");
                        $(obj).addClass("cur");

                        $.post("/Home/GetHomeProduct2", { id:id,cid: cid }).done(function (d) {
                            $("#pc").html("");
                            if (!!d && !!d.ok && !!d.data) {
                                if (!!d.data.proList && !!d.data.proList.length > 0) {
                                    var idx = 0;
                                    var html = "<div class=\"row\">";
                                    d.data.proList.forEach(function (pro) {
                                        idx++;
                                        html += "<div class=\"col-md-4\"><div class=\"diva\">" +
                                                        "<div class=\"imgbg\">" +
                                                            "<img src=\"" + pro.Img + "?r=22111\">" +
                                                            "<a href=\"javascript:void(0)\" onclick=\"window.open('http://wpa.qq.com/msgrd?V=1&amp;uin=2880260703'); return false;\" class=\"zx\">立即咨询</a>" +
                                                            "<a href=\"/Product/Index/" + pro.ID + "\" class=\"lj\">了解详情</a>" +
                                                        "</div><p>" + pro.Name + "</p></div></div>";
                                        if (idx % 3 == 0) {
                                            html += "</div><div class=\"row\">";
                                        }
                                    });
                                    html += "</div>";
                                    $("#pc").html(html);
                                }
                            }
                        });
                    }
                </script>
                <div class="title_list">
                    <a href="/Product/List?id=1">工作台</a>
                    <a href="/Product/List?id=2">工业铝型材</a>
                    <a href="/Product/List?id=3">围栏及防护罩</a>
                    <a href="/Product/List?id=4">工业梯/踏台/工业平台</a>
                    <a href="/Product/List?id=5">铝型材配件</a>
                    <a href="/Product/List?id=6">开模定制 </a>
                    <a href="/Product/List?id=7">铝型材框架应用</a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="title_right">
                    <ul>
                        <li><a href="javascript:void(0)" onclick="clickCategory(1,'',this)">工作台</a></li>
                        <li><a href="javascript:void(0)" onclick="clickCategory(7,'', this)">铝型材框架应用</a></li>
                        <li><a href="javascript:void(0)" onclick="clickCategory(0,'30', this)">铝型材防护围栏</a></li>
                        <li><a href="javascript:void(0)" onclick="clickCategory(5, '',this)">自动化设备</a></li>
                        <li><a href="javascript:void(0)" onclick="clickCategory(0,'47,9', this)">流水线</a></li>
                    </ul>
                    <a href="/Product/List?id=1" id="proMore">MORE</a>
                </div>
                <div class="pro_list">
                    <div id="pc">
                        <div class="row">
                            @{
                                int i1 = 0;
                                foreach (var item in ViewBag.ProList1 as List<AMW.Model.Entity.MldProduct>)
                                {
                                    i1++;
                                    <div class="col-md-4">
                                        <div class="diva">
                                            <div class="imgbg">
                                                <img src="@item.Img" />
                                                <a href="javascript:void(0)" onclick="window.open('http://wpa.qq.com/msgrd?V=1&uin=2880260703'); return false;" class="zx">立即咨询</a>
                                                <a href="@("/Product/Index/" + item.ID)" class="lj">了解详情</a>
                                            </div>
                                            <p>@item.Name</p>
                                        </div>
                                    </div>
                                    if (i1 % 3 == 0)
                                    {
                                        @Html.Raw("</div><div class=\"row\">");

                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pro_show">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
               <div style="text-align:center;"><img src="~/website/img/pro_show_title.png" /></div>
                <div style="margin-top:30px; color:#666666; font-size:14px;">
                    <p></p>
                </div>

                <script type="text/javascript" src="~/website/js/ZoomPic.js"></script>
                <div id="focus_Box">
                    <span class="prev"></span>
                    <span class="next"></span>
                    <ul>
                        <li>
                            <a href="/Product/Index/7"><img alt="防静电流水线工作台" src="/website/img/防静电流水线工作台.jpg" /><p>防静电流水线工作台</p></a>
                        </li>
                        <li>
                            <a href="/Product/Index/138"><img alt="机器人防护围栏？" src="/website/img/机器人防护围栏.jpg" /><p>机器人防护围栏</p></a>
                        </li>
                        <li>
                            <a href="/Product/Index/271">
                                <img alt="铝型材洁净房" src="/website/img/铝型材洁净房.jpg" />
                                <p>铝型材洁净房</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Product/Index/147">
                                <img alt="铝型材移动平台梯" src="/website/img/铝型材移动平台梯.jpg" />
                                <p>铝型材移动平台梯</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Product/Index/291">
                                <img alt="设备框架" src="/website/img/设备框架.jpg" />
                                <p>设备框架</p>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        new ZoomPic("focus_Box");
    });
</script>


<div class="pro_features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div style="text-align:center;"><img src="~/website/img/features.png?r=1558234" /></div>
                <img src="~/website/img/features_img.jpg" style="width:100%; margin-top:45px;" />
            </div>
        </div>
    </div>
</div>


<div class="pro_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div style="text-align:center;margin-bottom:55px;"><img src="~/website/img/area.png" /></div>
                <div class="pro_list">
                    <div class="row">
                        @{
                            List<AMW.Model.Entity.MldApplicationArea> applicationAreaList = ViewBag.ApplicateionArea as List<AMW.Model.Entity.MldApplicationArea>;
                            int idxApplicationArea = 0;
                            foreach (var item in applicationAreaList)
                            {
                                idxApplicationArea++;
                                <div class="col-md-4"><a href="/ApplicationArea/Index/@item.ID"><img src="@item.HomeBg" /><p><label>@item.Name</label><br />@item.SubHead</p></a></div>
                                if (idxApplicationArea % 3 == 0)
                                {
                                    @Html.Raw("</div><div class=\"row\">");
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <img src="~/website/img/customization_process.jpg" style="width:100%;" />
</div>

<link rel="stylesheet" href="/website/js/AmazeUI/assets/css/amazeui.min.css">
<link rel="stylesheet" href="/website/js/AmazeUI/assets/css/app.css">
<style type="text/css">
    .am-slider-default{
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    .am-slider .am-slides>li>a{
        display:block;
    }
</style>
<div class="pro_customer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div style="text-align:center;margin-bottom:55px;"><img src="/website/img/customer.png" /></div>

                <div class="am-slider am-slider-default am-slider-carousel" data-am-flexslider="{itemWidth: 227, itemMargin: 10, slideshow: false}">
                    <ul class="am-slides">
                        <li>
                            <a href="javascript:void();"><img src="~/website/friends/ABB_03.jpg" /></a>
                            <a href="javascript:void();"><img src="~/website/friends/大众.jpg" /></a>
                        </li>
                        <li>
                            <a href="javascript:void();"><img src="~/website/friends/福耀玻璃工业集团股份有限公司.jpg" /></a>
                            <a href="javascript:void();"><img src="~/website/friends/富士康.jpg" /></a>
                        </li>
                        <li>
                            <a href="javascript:void();"><img src="~/website/friends/皇明太阳能.jpg" /></a>
                            <a href="javascript:void();"><img src="~/website/friends/吉利汽车.jpg" /></a>
                        </li>
                        <li>
                            <a href="javascript:void();"><img src="~/website/friends/库卡.jpg" /></a>
                            <a href="javascript:void();"><img src="~/website/friends/南通中集.jpg" /></a>
                        </li>
                        <li>
                            <a href="javascript:void();"><img src="~/website/friends/帕马.jpg" /></a>
                            <a href="javascript:void();"><img src="~/website/friends/山东临工.jpg" /></a>
                        </li>
                        <li>
                            <a href="javascript:void();"><img src="~/website/friends/上海电气.jpg" /></a>
                            <a href="javascript:void();"><img src="~/website/friends/上海光机所.jpg" /></a>
                        </li>
                        <li>
                            <a href="javascript:void();"><img src="~/website/friends/上海交通大学.jpg" /></a>
                            <a href="javascript:void();"><img src="~/website/friends/同济大学.jpg" /></a>
                        </li>
                        <li>
                            <a href="javascript:void();"><img src="~/website/friends/西门子.jpg" /></a>
                            <a href="javascript:void();"><img src="~/website/friends/长虹电器.jpg" /></a>
                        </li>
                        <li>
                            <a href="javascript:void();"><img src="~/website/friends/浙江大学.jpg" /></a>
                            <a href="javascript:void();"><img src="~/website/friends/正大集团.jpg" /></a>
                        </li>
                        <li>
                            <a href="javascript:void();"><img src="~/website/friends/中船重工.jpg" /></a>
                            <a href="javascript:void();"><img src="~/website/friends/中国科学院.jpg" /></a>
                        </li>
                        <li>
                            <a href="javascript:void();"><img src="~/website/friends/中国南车.jpg" /></a>
                            <a href="javascript:void();"><img src="~/website/friends/中国邮政.jpg" /></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="text-align:center;padding:50px 0;">
                <a href="javascript:void();"><img src="~/website/img/more.png" /></a>
            </div>
        </div>
    </div>
</div>
<script src="/website/js/AmazeUI/assets/js/amazeui.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('.am-slider').each(function () {
            $(this).flexslider($(this).attr("data-am-flexslider"));
        });
    })
</script>

<div class="aboutus">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div style="text-align:center; margin-bottom:70px;"><img src="~/website/img/aboutus_title.png" /></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 about_content">
                <img src="~/website/img/about_img.png" />
                <p class="about_title" style="margin-bottom:8px;margin-top:0;">上海皇闽铝业有限公司</p>
                <p style="margin:8px 0;">上海皇闽铝业有限公司是国内生产工业铝型材的重点厂家之一，公司引进欧美国家的先进技术，产品已通过ISO9001质量管理体系和产品质量认证，是一家集研究设计开发制造销售服务工业铝型材一体科技创新新型的企业。公司本着“互惠互利、薄利多销”的经营理念，利用物流通道为各地区客户提供优质的服务和优惠的价格。本公司工业铝型材质量一流。</p>
                <p style="margin:8px 0;">本公司细分为七大板块：一：设计模具开发 二：工业铝型材挤压 三：铝型材框架及流水线输送设备安装 四：熔铸氧化电泳粉末喷涂 五：非标工业铝型材产品直销 六：工业铝型材配件 七：精密零部件加工。</p>
                <p style="margin:8px 0;">公司致力于市场新产品的开发，奉行产品质量精益求精，信誉待客为宗旨，欢迎新老客户光临惠顾。</p>
                <p style="margin:10px 0;"><a href="/Home/AboutUs">{查看详情}</a></p>
            </div>
        </div>
    </div>
</div>


<div class="honor">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div style="text-align:center; margin-bottom:70px;"><img src="~/website/img/honor.png" /></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 about_content">
                <link rel="stylesheet" href="/website/js/cooldog/css/Cooldog.css">
                <link rel="stylesheet" href="/website/js/cooldog/css/iconfont.css">

                <div class="Cooldog_container" style="margin-bottom:40px;">
                    <div class="Cooldog_content">
                        <ul>
                            <li class="cur_left2"><a href="javascript:void();"><img src="/website/honor/2018年度十佳厂商.jpg" alt=""></a></li>
                            <li class="cur_left1"><a href="javascript:void();"><img src="/website/honor/科技创新发明成果.jpg" alt=""></a></li>
                            <li class="cur"><a href="javascript:void();"><img src="/website/honor/商标注册证.jpg" alt=""></a></li>
                            <li class="cur_right1"><a href="javascript:void();"><img src="/website/honor/商标注册证1.jpg" alt=""></a></li>
                            <li class="cur_right2"><a href="javascript:void();"><img src="/website/honor/上海铝业行业协会.jpg" alt=""></a></li>
                            <li><a href="javascript:void();"><img src="/website/honor/上海铝业行业协会1.jpg" alt=""></a></li>
                            <li><a href="javascript:void();"><img src="/website/honor/上海市莆田商会.jpg" alt=""></a></li>
                            <li><a href="javascript:void();"><img src="/website/honor/实用新型专利证书01.jpg" alt=""></a></li>
                            <li><a href="javascript:void();"><img src="/website/honor/实用新型专利证书012.jpg" alt=""></a></li>
                            <li><a href="javascript:void();"><img src="/website/honor/实用新型专利证书02.jpg" alt=""></a></li>
                            <li><a href="javascript:void();"><img src="/website/honor/实用新型专利证书022.jpg" alt=""></a></li>
                            <li><a href="javascript:void();"><img src="/website/honor/实用新型专利证书03.jpg" alt=""></a></li>
                            <li><a href="javascript:void();"><img src="/website/honor/实用新型专利证书032.jpg" alt=""></a></li>
                            <li><a href="javascript:void();"><img src="/website/honor/信用资质等级证书.jpg" alt=""></a></li>
                            <li><a href="javascript:void();"><img src="/website/honor/营业执照.jpg" alt=""></a></li>
                            <li><a href="javascript:void();"><img src="/website/honor/质量管理体系认证证书.jpg" alt=""></a></li>
                            <li><a href="javascript:void();"><img src="/website/honor/质量管理体系认证证书_看图王-1.jpg" alt=""></a></li>
                            <li><a href="javascript:void();"><img src="/website/honor/质量管理体系认证证书2.jpg" alt=""></a></li>
                        </ul>
                    </div>
                    <a href="javascript:;" class="btn_left" style="text-decoration: none;">
                        <i class="iconfont icon-zuoyoujiantou"></i>
                    </a>
                    <a href="javascript:;" class="btn_right" style="text-decoration: none;">
                        <i class="iconfont icon-zuoyoujiantou-copy-copy"></i>
                    </a>
                </div>
                <script type="text/javascript" src="/website/js/cooldog/js/Cooldog.js"></script>
            </div>
        </div>
    </div>
</div>

<div style="background-color:#fff; padding-top:32px; padding-bottom:70px;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 news">
                <div class="news_title">
                    工业铝型材行业资讯
                    <a href="/News/List">MORE</a>
                </div>
                <div class="news_no1">
                    @{
                        AMW.DAL.MldNewsDal newsDal = new AMW.DAL.MldNewsDal();
                        AMW.Model.Entity.MldNews newsFirst = newsDal.GetFirst();
                        if(null != newsFirst){
                            <img style="width:160px; height:105px;" src="@newsFirst.Img" />
                            <p class="p1">@newsFirst.Title</p>
                            <p class="p2" style="margin:10px 0 !important;">@newsFirst.SubHead</p>
                            <p class="p3"><a href="/News/Index/@newsFirst.ID">[查看详情]</a></p>        
                        }
                    }
                    
                </div>
                <ul style="margin-top:15px;">
                    @{
                        List<AMW.Model.Entity.MldNews> news3th = newsDal.Get3th();
                        if(null != news3th && news3th.Count>0){
                            foreach (var item in news3th)
                            {
                                if(item.ID!=newsFirst.ID){
                                    <li><a href="/News/Index/@item.ID"><label>·</label>@item.Title<span>@item.AddTime.ToString("yyyy-MM-dd")</span></a></li>    
                                }
                            }
                        }
                    }
                </ul>
            </div>
            <div class="col-md-4 qa_div">
                <div class="qa_title">铝型材常见问题解答</div>
                <dl>
                    <dt><span>Q</span>中国铝消费增长空间有多大？</dt>
                    <dd><span>A</span>中国铝消费增长空间有多大？中国铝消费增长空间巨大回顾全球铝工业的发展，可以看到，铝消费在全球范围内、在各个应用领域基本上都是保持增长的，其增长的动力不仅来自于应用领域自身规模的扩大，更受到铝应用程度不...</dd>
                </dl>
                <dl>
                    <dt><span>Q</span>“毛刺”及“震痕”产生的原因及解决思路有哪些？</dt>
                    <dd><span>A</span>“毛刺”和“震痕”是在挤压铝型材生产中常见的缺陷.“毛刺”不直观,不仔细观察或手摸较难发现；“震痕”是颗粒相对集中型材表面的表现....</dd>
                </dl>
            </div>
        </div>
    </div>
</div>