@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script type="text/javascript">
    $(function () {
        $(".nav_div a").eq(0).addClass("cur");
    });
</script>
<link href="~/website/css/index.css" rel="stylesheet" type="text/css" media="all" />
@Html.Partial("_PartialBanner")
<link href="~/website/css/proinfo.css" rel="stylesheet" type="text/css" media="all" />
<div class="pro_info">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <div class="title">
                    <img src="~/website/img/pro_info.png" />
                </div>
                <script type="text/javascript">
                    $(function () {
                        $(".pro_info .title_list > a").click(function () {
                            $(".pro_info .title_list > a").removeClass("cur");
                            $(this).addClass("cur");
                            
                            $.post("/Home/GetHomeProduct", { cid: $(this).attr("data-id") }).done(function (d) {
                                $(".pro_info .title_right>ul").html("");
                                $("#pc").html("");
                                $("#proMore").attr("href", "/Product/List?id=" + $(this).attr("data-id"));
                                if(!!d && !!d.ok && !!d.data){
                                    if (!!d.data.categoryList && d.data.categoryList.length > 0) {
                                        d.data.categoryList.forEach(function (category) {
                                            $(".pro_info .title_right>ul").append($("<li><a href=\"javascript:void(0)\" onclick=\"clickCategory(" + category.ID + ",this)\">" + category.Name + "</a></li>"));
                                        })
                                    }
                                    if (!!d.data.proList && !!d.data.proList.length > 0) {
                                        var idx = 0;
                                        var html = "<div class=\"row\">";
                                        d.data.proList.forEach(function (pro) {
                                            idx++;
                                            html += "<div class=\"col-md-4\"><a class='aa' href=\"/Product/Index/"+pro.ID+"\"><img src=\""+pro.Img+"\" /><p>"+pro.Name+"</p></a></div>";
                                            if(idx%3==0){
                                                html += "</div><div class=\"row\">";
                                            }
                                        });
                                        html += "</div>";
                                        $("#pc").html(html);
                                    }
                                }
                            });
                        });
                    });
                    function clickCategory(id,obj) {
                        $(".pro_info .title_right>ul li a").removeClass("cur");
                        $(obj).addClass("cur");

                        $.post("/Home/GetHomeProduct2", { cid: id }).done(function (d) {
                            $("#pc").html("");
                            if (!!d && !!d.ok && !!d.data) {
                                if (!!d.data.proList && !!d.data.proList.length > 0) {
                                    var idx = 0;
                                    var html = "<div class=\"row\">";
                                    d.data.proList.forEach(function (pro) {
                                        idx++;
                                        html += "<div class=\"col-md-4\"><a class='aa' href=\"/Product/Index/" + pro.ID + "\"><img src=\"" + pro.Img + "\" /><p>" + pro.Name + "</p></a></div>";
                                        if (idx % 3 == 0) {
                                            html += "</div><div class=\"row\">";
                                        }
                                    });
                                    html += "</div>";
                                    $("#pc").html(html);
                                }
                            }
                        });
                    }
                </script>
                <div class="title_list">
                    <a href="javascript:void(0)" data-id="1">工作台</a>
                    <a href="javascript:void(0)" data-id="2">工业铝型材</a>
                    <a href="javascript:void(0)" data-id="3">围栏及防护罩</a>
                    <a href="javascript:void(0)" data-id="4">工业梯/踏台/工业平台</a>
                    <a href="javascript:void(0)" data-id="5">铝型材配件</a>
                    <a href="javascript:void(0)" data-id="6">开模定制 </a>
                    <a href="javascript:void(0)" data-id="7">铝型材框架应用</a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="title_right">
                    <ul>
                        <li><a href="javascript:void(0)" onclick="clickCategory(8,this)">防静电工作台</a></li>
                        <li><a href="javascript:void(0)" onclick="clickCategory(9, this)">流水线工作台</a></li>
                        <li><a href="javascript:void(0)" onclick="clickCategory(10, this)">车间工作台</a></li>
                        <li><a href="javascript:void(0)" onclick="clickCategory(11, this)">铝型材工作台</a></li>
                    </ul>
                    <a href="/Product/List?id=1" id="proMore">MORE</a>
                </div>
                <div class="pro_list">
                    <div id="pc">
                        <div class="row">
                            @{
                                int i1 = 0;
                                foreach (var item in ViewBag.ProList1 as List<AMW.Model.Entity.MldProduct>)
                                {
                                    i1++;
                                    <div class="col-md-4"><a class="aa" href="/Product/Index/@item.ID"><img src="@item.Img" /><p>@item.Name</p></a></div>
                                    if (i1 % 3 == 0)
                                    {
                                        @Html.Raw("</div><div class=\"row\">");

                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pro_show">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
               <div style="text-align:center;"><img src="~/website/img/pro_show_title.png" /></div>
                <div style="margin-top:30px; color:#666666; font-size:14px;">
                    <p></p>
                </div>

                <script type="text/javascript" src="~/website/js/ZoomPic.js"></script>
                <div id="focus_Box">
                    <span class="prev"></span>
                    <span class="next"></span>
                    <ul>
                        <li>
                            <a href="/Product/Index/7">
                                <img alt="防静电流水线工作台" src="/website/img/防静电流水线工作台.jpg" />
                                <p>防静电流水线工作台</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Product/Index/138">
                                <img alt="机器人防护围栏？" src="/website/img/机器人防护围栏.jpg" />
                                <p>机器人防护围栏</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Product/Index/271">
                                <img alt="铝型材洁净房" src="/website/img/铝型材洁净房.jpg" />
                                <p>铝型材洁净房</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Product/Index/147">
                                <img alt="铝型材移动平台梯" src="/website/img/铝型材移动平台梯.jpg" />
                                <p>铝型材移动平台梯</p>
                            </a>
                        </li>
                        <li>
                            <a href="/Product/Index/291">
                                <img alt="设备框架" src="/website/img/设备框架.jpg" />
                                <p>设备框架</p>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        new ZoomPic("focus_Box");
    });
</script>


<div class="pro_features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div style="text-align:center;"><img src="~/website/img/features.png" /></div>
                <img src="~/website/img/features_img.jpg" style="width:100%; margin-top:45px;" />
            </div>
        </div>
    </div>
</div>


<div class="pro_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div style="text-align:center;margin-bottom:55px;"><img src="~/website/img/area.png" /></div>
                <div class="pro_list">
                    <div class="row">
                        @{
                            List<AMW.Model.Entity.MldApplicationArea> applicationAreaList = ViewBag.ApplicateionArea as List<AMW.Model.Entity.MldApplicationArea>;
                            int idxApplicationArea = 0;
                            foreach (var item in applicationAreaList)
                            {
                                idxApplicationArea++;
                                <div class="col-md-4"><a href="/ApplicationArea/Index/@item.ID"><img src="@item.HomeBg" /><p><label>@item.Name</label><br />@item.SubHead</p></a></div>
                                if (idxApplicationArea % 3 == 0)
                                {
                                    @Html.Raw("</div><div class=\"row\">");
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <img src="~/website/img/customization_process.jpg" style="width:100%;" />
</div>

<link rel="stylesheet" href="/website/js/AmazeUI/assets/css/amazeui.min.css">
<link rel="stylesheet" href="/website/js/AmazeUI/assets/css/app.css">

<div class="pro_customer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div style="text-align:center;margin-bottom:55px;"><img src="/website/img/customer.png" /></div>

                <div class="am-slider am-slider-default am-slider-carousel" data-am-flexslider="{itemWidth: 227, itemMargin: 10, slideshow: false}">
                    <ul class="am-slides">
                        <li><a href="#"><img src="~/website/img/friends1.jpg" /></a></li>
                        <li><a href="#"><img src="~/website/img/friends2.jpg" /></a></li>
                        <li><a href="#"><img src="~/website/img/friends3.jpg" /></a></li>
                        <li><a href="#"><img src="~/website/img/friends4.png" /></a></li>
                        <li><a href="#"><img src="~/website/img/friends5.png" /></a></li>
                        <li><a href="#"><img src="~/website/img/friends6.png" /></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="text-align:center;padding:50px 0;">
                <a href="#"><img src="~/website/img/more.png" /></a>
            </div>
        </div>
    </div>
</div>
<script src="/website/js/AmazeUI/assets/js/amazeui.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('.am-slider').each(function () {
            $(this).flexslider($(this).attr("data-am-flexslider"));
        });
    })
</script>

<div class="aboutus">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div style="text-align:center; margin-bottom:70px;"><img src="~/website/img/aboutus_title.png" /></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 about_content">
                <img src="~/website/img/about_img.png" />
                <p class="about_title">上海皇闽铝业有限公司</p>
                <p>上海皇闽铝业有限公司是国内生产工业麵材的童点厂家之一，公司引进欧美国家的先进技术，产品已通过 IS 09001质量管理体系和产品质量认证究设计开发制造销售服务工业^材斗技创新新型的企业.公司本着'互惠互利、薄利多销”的经营理念,利用物流通道为各地区客户提供优质的服务和优惠的价格.本公司工业材质量一流.本公司细分为六大板块 ： 一:设计模具开发二:工业麵材挤压三:麵林框架及流?}^ li 送设备安装四:炫铸氧化电泳粉末喷涂五:非标工麵材产品直 销 六 : 工 件公司致力于市场新产品的开发，奉行产品质...</p>
                <p><a href="/Home/AboutUs">{查看详情}</a></p>
            </div>
        </div>
    </div>
</div>


<div class="honor">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div style="text-align:center; margin-bottom:70px;"><img src="~/website/img/honor.png" /></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 about_content">
                <link rel="stylesheet" href="/website/js/cooldog/css/Cooldog.css">
                <link rel="stylesheet" href="/website/js/cooldog/css/iconfont.css">

                <div class="Cooldog_container" style="margin-bottom:40px;">
                    <div class="Cooldog_content">
                        <ul>
                            <li class="cur_left2"><a href="#"><img src="/website/img/honor_img1.png" alt=""></a></li>
                            <li class="cur_left1"><a href="#"><img src="/website/img/honor_img2.png" alt=""></a></li>
                            <li class="cur"><a href="#"><img src="/website/img/honor_img3.png" alt=""></a></li>
                            <li class="cur_right1"><a href="#"><img src="/website/img/honor_img4.png" alt=""></a></li>
                            <li class="cur_right2"><a href="#"><img src="/website/img/honor_img5.png" alt=""></a></li>
                            <li><a href="#"><img src="/website/img/honor_img6.png" alt=""></a></li>
                            <li><a href="#"><img src="/website/img/honor_img7.png" alt=""></a></li>
                            <li><a href="#"><img src="/website/img/honor_img8.png" alt=""></a></li>
                            <li><a href="#"><img src="/website/img/honor_img9.png" alt=""></a></li>
                        </ul>
                    </div>
                    <a href="javascript:;" class="btn_left" style="text-decoration: none;">
                        <i class="iconfont icon-zuoyoujiantou"></i>
                    </a>
                    <a href="javascript:;" class="btn_right" style="text-decoration: none;">
                        <i class="iconfont icon-zuoyoujiantou-copy-copy"></i>
                    </a>
                </div>
                <script type="text/javascript" src="/website/js/cooldog/js/Cooldog.js"></script>
            </div>
        </div>
    </div>
</div>

<div style="background-color:#fff; padding-top:32px; padding-bottom:70px;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 news">
                <div class="news_title">
                    工业铝型材行业资讯
                    <a href="/News/List">MORE</a>
                </div>
                <div class="news_no1">
                    @{
                        AMW.DAL.MldNewsDal newsDal = new AMW.DAL.MldNewsDal();
                        AMW.Model.Entity.MldNews newsFirst = newsDal.GetFirst();
                        if(null != newsFirst){
                            <img style="width:160px; height:105px;" src="@newsFirst.Img" />
                            <p class="p1">@newsFirst.Title</p>
                            <p class="p2">@newsFirst.SubHead</p>
                            <p class="p3"><a href="/News/Index/@newsFirst.ID">[查看详情]</a></p>        
                        }
                    }
                    
                </div>
                <ul style="margin-top:15px;">
                    @{
                        List<AMW.Model.Entity.MldNews> news3th = newsDal.Get3th();
                        if(null != news3th && news3th.Count>0){
                            foreach (var item in news3th)
                            {
                                if(item.ID!=newsFirst.ID){
                                    <li><a href="/News/Index/@item.ID"><label>·</label>@item.Title<span>@item.AddTime.ToString("yyyy-MM-dd")</span></a></li>    
                                }
                            }
                        }
                    }
                </ul>
            </div>
            <div class="col-md-4 qa_div">
                <div class="qa_title">铝型材常见问题解答</div>
                <dl>
                    <dt><span>Q</span>中国铝消费增长空间有多大？</dt>
                    <dd><span>A</span>中国铝消费增长空间有多大？中国铝消费增长空间巨大回顾全球铝工业的发展，可以看到，铝消费在全球范围内、在各个应用领域基本上都是保持增长的，其增长的动力不仅来自于应用领域自身规模的扩大，更受到铝应用程度不...</dd>
                </dl>
                <dl>
                    <dt><span>Q</span>“毛刺”及“震痕”产生的原因及解决思路有哪些？</dt>
                    <dd><span>A</span>“毛刺”和“震痕”是在挤压铝型材生产中常见的缺陷.“毛刺”不直观,不仔细观察或手摸较难发现；“震痕”是颗粒相对集中型材表面的表现....</dd>
                </dl>
            </div>
        </div>
    </div>
</div>