@model AMW.Model.Entity.MldProductCategory
@{
    Layout = "~/Areas/WebAdmin/Views/Shared/_LayoutMetronic.cshtml";
}
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title">
    Edit
    <small></small>
</h3>

<div class="row" id="list-content">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-body">
                <form enctype="multipart/form-data" action="/WebAdmin/ProductCategory/Edit" method="post" class="form-horizontal">
                    <div class="form-body">

                        @if (ViewBag.Error != "none")
                        {
                            <div class="alert alert-block alert-danger fade in">
                                <button type="button" class="close" data-dismiss="alert"></button>
                                <p>@ViewBag.Error</p>
                            </div>
                        }
                        @if (ViewBag.Success == "ok")
                        {
                            <div class="alert alert-block alert-success fade in">
                                <button type="button" class="close" data-dismiss="alert"></button>
                                <p>Success</p>
                            </div>
                        }

                        <div class="form-group">
                            <label class="control-label col-md-2">
                                上级ID
                            </label>
                            <div class="col-md-6">
                                <input type="number" name="tid" class="form-control" value="@Model.Tid">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                名称
                            </label>
                            <div class="col-md-6">
                                <input type="text" name="name" class="form-control" value="@Model.Name">
                            </div>
                        </div>
                        <div class="form-group" style="display:none;">
                            <label class="control-label col-md-2">
                                排序
                            </label>
                            <div class="col-md-6">
                                <input type="number" name="order" class="form-control" value="@Model.Order">
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <input type="hidden" name="id" value="@Model.ID" />
                                <button type="submit" class="btn green">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- End: life time stats -->
    </div>
</div>