<div class="title">
    <img src="~/website/img/pro_info.png" />
</div>
<div class="title_list">
    @{
        AMW.DAL.MldProductCategoryDal categoryDal = new AMW.DAL.MldProductCategoryDal();
        List<AMW.Model.Entity.MldProductCategory> categoryList = categoryDal.QueryList("id asc", "tid!=0");
        Dictionary<int, List<AMW.Model.Entity.MldProductCategory>> dic = new Dictionary<int, List<AMW.Model.Entity.MldProductCategory>>();
        foreach (var item in categoryList)
        {
            List<AMW.Model.Entity.MldProductCategory> l = null;
            if (dic.ContainsKey(item.Tid))
            {
                l = dic[item.Tid];
            }
            if (null == l)
            {
                l = new List<AMW.Model.Entity.MldProductCategory>();
            }
            l.Add(item);
            dic[item.Tid] = l;
        }
        foreach (AMW.Model.Entity.MldProductCategory item in categoryDal.QueryList("id asc", "tid=0"))
        {
            <a href="javascript:void(0)" data-id="@item.ID">@item.Name</a>
            if (dic.ContainsKey(item.ID))
            {
                List<AMW.Model.Entity.MldProductCategory> tempList = dic[item.ID];
                if (null != tempList && tempList.Count > 0)
                {
                    <ul data-role="ul">
                        @foreach (var it in tempList)
                        {
                            <li><a data-id="@it.ID" href="/Product/List?cid=@it.ID">@it.Name</a></li>
                        }
                    </ul>
                }
            }

        }
}
</div>

<div class="pro_temp_elite" style="">
    <div class="pro_temp_elite_title">临时推荐</div>
    <div class="pro_temp_elite_list">
        @{
            List<AMW.Model.Entity.MldProduct> eliteList = new AMW.DAL.MldProductDal().getElite();
            foreach (var item in eliteList)
            {
                <a href="/Product/Index/@item.ID">
                    <img src="@item.Img" />
                    <p>@item.Name</p>
                    <p>@item.AddTime.ToString("yyyy-MM-dd")</p>
                </a>
            }
        }
    </div>

    <div class="pro_temp_elite_title" style="margin-top:20px;margin-bottom:15px;">联系皇闽</div>
    <p>电话：021-57486118</p>
    <p>传真：021-57487196</p>
    <p>邮编：201404</p>
    <p>公司地址：上海市奉贤区庄行镇钜庭路998号8号楼</p>
</div>

<script type="text/javascript">
    $(function () {
        $(".pro_info .title_list > a").click(function () {
            $(".pro_info .title_list > a").removeClass("cur");
            $(this).addClass("cur");
            //$(".pro_info .title_list > ul").height(0);
            var obj = $(this).next();
            if ($(obj).attr("data-role") != "ul") {
                return;
            }
            if ($(obj).height() == 0) {
                var hei = obj.find("li").eq(0).height() + 20;
                var len = obj.find("li").length;
                $(this).next().css({ "height": len * hei + "px" });
            } else {
                $(this).next().css({ "height": 0 + "px" });
            }

        });
    });
</script>